* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 15px;
    padding-top: 0px;
    text-align: center;
    background: #f0e5a4;
}

.header img {
    min-width: 5px;
    max-width: 50rem;
}

.comida{
/* Border */
    border: 5px solid #333;
    overflow: hidden;
    background-color: #333;
    color: rgb(255, 255, 255);
    display: flex;

    /* Reset list styles */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.comida li {
    /* Spacing */
    padding: 5px;
    padding-left: 7.5rem;
    padding-right: 7.5rem;
    
    /* Used to position the sub dropdown */
    position: relative;
}

.comida li:hover {
    background-color: rgb(255, 0, 0);
}

a{
    color: white;
    text-decoration: none;
}

/* Create two unequal columns that floats next to each other */
/*column */
.column {   
    float: left;
    max-width: 85%;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
}

.arrow img{
    float: left;
    max-width: 5%;
    padding-top: 30px;
    padding-left: 10px;
    position: fixed;

}