html{
    background-color: #fdfdfd;
}

img{
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 3px;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2px ;
}       

ul{
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;
}

div{
    display: inline;
    text-decoration: none; 
    padding: .2em 1em;
}

